# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Environment files
.env
*.env

# Docker override & local
*.local
docker-compose.override.yml

# Prometheus & Alertmanager secrets
prometheus/prometheus.yml
monitoring/alertmanager/config.yml

# Grafana storage
monitoring/grafana/
!monitoring/grafana/datasource.yml
!monitoring/grafana/grafana.ini
!monitoring/grafana/dashboard.json

# Jenkins
jenkins/jenkins.io-2023.key

# VSCode / macOS
.vscode/
.DS_Store
